a:hover {
  font-weight: bolder;
}

/*Nav and footer*/
/*.navbar, .footer{ 
  background-color: black !important; 
}*/

.navbar{  
  background-color: white !important; 
}


/*.footer{
  background-color: black !important;
  color: white;
}*/

.footer{
  background-color: #ffc107 !important;
  color: white;
  border-top: 1px solid #ffc107;
}

.navbar-brand{
  color: #ffc107 !important;
  /*font-size: 30px;*/
  font-size: 25px;
  font-weight: bolder;
}

.headerImage{
  height: auto;
  width: auto;
  /*max-height: 50px;*/
  max-height: 40px;
  max-width: 250px;
}

.nav-link{
  color: #ffc107 !important;
}

/*Header*/
header{
  margin-bottom: 0px !important;
  color: black;
} 

.AccountingPH{
  font-weight: bolder !important;
  color:#ffc107;
}

/*Jumbotron*/

.jumboCourses {
    position: relative;
    background-image: url("../images/calcuyellow2.png");
    /*background-image: url("../images/bg1black.png");*/
    background-position: center;
    background-size: cover;
    position: right;
    /*height: 300px;*/
    height: 400px;
    outline: none;
}

.jumboCard {
    position: relative;
    background-color: #ffc107;
    height: 300px;
    outline: none;
}

/*.jumbotron > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.jumbotron > .inner {
    position: relative;
    z-index: 2;
}*/

.emphasize{
	font-weight: 500 !important;
	/*color:#ffc107;	*/
}

.card{
	border: solid 1px #ffc107;
}

.strike{
  text-decoration: line-through;
  /*font-size: smaller;*/
  font-size: 13px;
  vertical-align: middle;
}

.card-title{
  margin-bottom: 6px;
}

.price{
  margin-bottom: 3px;
}

.spaceIcon{
  padding-right: 5px;
}

.smallDes{
  font-size: 12px;
  /*font-size: small;*/
  line-height: 20px;
}

.card-img-top{
  /*height: 45%;*/
}
/*MAIN*/

p > strong{
	color: #ffc107;
}

/*----------*/

/*specific*/

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
