/*body {
    min-height: 100vh;
}
*/

a:hover {
  font-weight: bolder;
}

/*Nav and footer*/
/*.navbar, .footer{ 
  background-color: black !important; 
}*/

.navbar{  
  background-color: white !important; 
}


.footer{
  background-color: #ffc107 !important;
  color: white;
  border-top: 1px solid #ffc107;
/*  position: fixed bottom;*/
}

.navbar-brand{
  color: #ffc107 !important;
  /*font-size: 30px;*/
  font-size: 25px;
  font-weight: bolder;
}

.headerImage{
  height: auto;
  width: auto;
  /*max-height: 50px;*/
  max-height: 40px;
  max-width: 250px;
}

.nav-link{
  color: #ffc107 !important;
}

/*Header*/
header{
  margin-bottom: 0px !important;
  color: white;
} 

.AccountingPH{
  font-weight: bolder !important;
  color:#ffc107;
}

/*Jumbotron*/

.registerJumbo {
    position: relative;
    background: url("../images/register.jpg") no-repeat center;
    background-size: cover;
    height: 300px;
}

.loginJumbo {
    position: relative;
    background: url("../images/welcomeback.jpg") no-repeat center;
    background-size: cover;
    height: 300px;
}

.logoutJumbo {
    position: relative;
    background: url("../images/logout.jpg") no-repeat center;
    background-size: cover;
    height: 300px;
}

.jumbotron > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.jumbotron > .inner {
    position: relative;
    z-index: 2;
}

.emphasize{
	font-weight: 500 !important;
	color:#ffc107;	
}

#header-title{
  /*font-size: 70px;*/
  color: #ffc107;
  /*font-size: 70px;*/
}

.card{
	border: solid 1px #ffc107;
}

.mainNum{
	font-size: 75px;
	align-content: center;
	height: auto;
    width: auto;
    /*max-height: 72px;*/
    max-height: 50px;
    max-width: 250px;
}

.num{
	font-size: 250px;
	height: auto;
    width: auto;
    /*max-height: 72px;*/
    max-height: 50px;
    max-width: 250px;
}

/*MAIN*/

/*p > strong{
	color: #ffc107;
}*/

/*----------*/

/*SPECIFICS*/
form{
  border: solid #ffc107 0.1px;
  /*margin: 5px;*/
  padding: 50px;
  border-radius: 70px;
}

.form-content{
  /*max-width: 70%;*/
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
}

.form-control {
outline: none;
border: none;
background: transparent;
border-bottom: 1px solid #ffc107;
}

::placeholder {
  /*color: #ffc107 !important;*/
  font-size: smaller;
}

.backLink{
  padding: auto;
  margin-left: 10px;
}

.special{
  font-size: 19px !important;
}

.logoutMainDiv{
  /*margin: auto;*/
  /*padding: auto;*/
  min-height: calc(100vh - 400px);
}

/*END OF SPECIFICS*/

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    /*margin-top: 7rem;*/
  }
}
